@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px
}



.conteudo {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.conteudo h1 {
    margin: 5vh 0vh;
    text-align: center;
}

.animacoes {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(128, 128, 128, 0.377);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.493);
    margin-bottom: 5vh;
    padding: 5vh 0vw;
}

.box {
    outline: 5px solid black;
}

img {
    /* transform: translateX(100px);  movimenta para a direita */
    /* transform: translateX(-100px); movimenta para a esquerda */
    /* transform: translateY(100px);  movimenta para baixo */
    /* transform: translateY(-100px); movimenta para cima */
    /* transform: scale(2); aumenta o tamanho */
    /* transform: rotate(45deg); rotaciona a imagem*/
    /* transform: skewx(20deg); inclina a imagem */

}

.boxOne {
    background: rgb(41, 41, 179);
    height: 40vh;
    width: 20vw;
    transition-property: background-color, border-radius; /* escolher a propriedade que irá passar pela transição */
    transition-duration: 2s1 1.5s; /* escolher a duração da transição */
    /* transition-delay: 0.5s; o tempo de espera para iniciar a ação */
    /* transition-timing-function: ease-in; dar uma suavizada no início ou no fim da animação */
}

.boxOne:hover {
    border-radius: 50%;
    background-color: orangered;
}

.boxTwo {
    display: flex;
    align-items: center;
    background-image: url("../imagens/fundo-ceu.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    width: 100vw;
}

.boxTwo img {
    height: 150px;
    width: 200px;
    animation-name: fly;
    animation-duration: 2s;
    /* animation-timing-function: ; o próprio CSS possui algumas informações pré-definidas */
    /* animation-delay ; tempo que a animação demora para iniciar */ 
    /* animation-timing-function: cubic-bezier(0.68, -0.6, 0.32, 1.6); outra forma de configurar a animação para que dure um tempo diferenciado*/
    animation-iteration-count: infinite; /* quanto tempo a duração irá ficar repetindo */
    animation-direction: alternate; /* a animação vai e voltar */
    /* animation-fill-mode: forwards; a animação para no estágio final. Existem outras opções */


}

.boxTwo img:hover {
    animation-play-state: paused; /* para a animação */ 
}


@keyframes fly {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(100vw - 200px)); /* tamanho total da tela menos o tamanho do avião */
    }
}



.papelDeParede {
    animation: gradient 20s ease infinite;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab) no-repeat;
    background-size: 300% 300%;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 100vh;
    font-size: 300%;
}




@keyframes gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}



.animacoesBall{
    margin-left: 10vw;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.521);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url(../imagens/quadra.jpg);
    background-size: cover;
    height: 93vh;
    width: 78vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding: 5vh 0vw;
}

#imagemBall{
    animation: jump-ball 1s ease alternate infinite;
    width: 100px;
    margin-left: 30px;
}


@keyframes jump-ball {
    to {
transform: translateY(40px);
    }
}



.boxFour {

    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.747);
    height: 100vh;
    width: 100vw;
}



.textoOculto {
    animation: piscando 500ms steps(40)  infinite normal, aparencendoTexto 4s steps(40) 1s normal both; /* a opção steps quebra quadro a quadro dando a impressão de uma máquina de escrever. Para deixar fluído é só retirar essa opção */
    color: rgba(255, 255, 255, 0.726);
    font-family: monospace;
    font-size: 3em;
    border-right: 2px solid rgba(255, 255, 255, 0.726);
    white-space: nowrap; /* não quebra linha */
    overflow: hidden; /* se não tem uma largura suficiente ele esconde */
}


@keyframes aparencendoTexto {
    from {
        width: 0;
    }

    to {
        width: 6.8em;
    }
}


@keyframes piscando {
    from {
        border-right-color: 255, 255, 255, 0.726;
    }

    to {
        border-right-color: transparent;
    }
}


.textoOcultoDois {
    animation: textoAparecendo 0s 1.1s both;
    color: white;
    font-size: 3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    opacity: 0;
}

.boxFive {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.747);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;

}

.boxFiveDentro::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #23a6d5;
    transform: translateX(-100%);
    animation: aumentarBloco .5s .6s both,moverBloco .5s 1.1s both;
}



@keyframes textoAparecendo {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



@keyframes moverBloco {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}

@keyframes aumentarBloco {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}